{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Onyria{% endblock %}</title>

  <!-- Tailwind CSS compilé localement -->
  <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">

</head>

<body class="bg-pastel-baby-powder min-h-screen font-grotesk">
  <!-- Include Sidebar -->
  {% include 'diary/sidebar.html' %}

  <!-- Contenu principal décalé -->
  <div class="content-area min-h-screen flex items-center justify-center px-4 sm:px-6 py-8">
    <div class="w-full max-w-4xl mx-auto bg-white bg-opacity-80 backdrop-blur rounded-xl shadow-[0_4px_10px_rgba(0,0,0,0.1),_0_-4px_8px_rgba(0,0,0,0.05)] px-6 sm:px-8 md:px-10 py-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>