{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Analyse du rêve</title>
</head>
<body>
    <h1>Décris ton rêve</h1>
    <form method="post">
        {% csrf_token %}
        <textarea name="texte" rows="8" cols="80">{{ texte }}</textarea><br>
        <button type="submit">Analyser</button>
    </form>

    {% if dominant_emotion %}
        <h3>Émotion dominante</h3>
        <p>{{ dominant_emotion.0|capfirst }} ({{ dominant_emotion.1|floatformat:2 }})</p>
    {% endif %}


    {% if dream_type %}
        <h2>Type de rêve : {{ dream_type }}</h2>
    {% endif %}

    {% if interpretation %}
        <h2>Interprétation :</h2>
        <ul>
            {% for key, val in interpretation.items %}
                <li><strong>{{ key|capfirst }}</strong> : {{ val }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if image_path %}
        <h2>Image du rêve :</h2>
        <img src="/static/{{ image_path }}" alt="Rêve généré" style="max-width: 600px;">
    {% endif %}
</body>
</html>
