{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Analyse de texte</title>
</head>
<body>
    <h1>Analyse de ton texte</h1>

    <form method="post">
        {% csrf_token %}
        <textarea name="texte" rows="10" cols="80">{{ texte }}</textarea><br>
        <button type="submit">Analyser</button>
    </form>

    {% if dominant_emotion %}
    <h2>Émotion dominante :</h2>
    <p>{{ dominant_emotion.0 }} : {{ dominant_emotion.1|floatformat:2 }}</p>
    {% endif %}

    {% if dream_type %}
    <h2>Type de rêve :</h2>
    <p>{{ dream_type }}</p>
    {% endif %}

    {% if interpretation %}
    <h2>Interprétation du rêve :</h2>
    <ul>
        {% for key, value in interpretation.items %}
            <li><strong>{{ key|capfirst }} :</strong> {{ value }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {% if image_path %}
    <h2>Image générée :</h2>
    <img src="{% static image_path %}" alt="Image générée" style="max-width: 600px;">
    {% endif %}
    
</body>
</html>
