{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}

<!-- Titre -->
<h2 class="text-3xl font-normal mb-6 text-center text-black">Changer le mot de passe</h2>

<!-- Formulaire -->
<form method="post" class="space-y-5">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="block text-gray-700 font-normal mb-1">
                {{ field.label }}
            </label>
            {{ field|add_class:"w-full px-4 py-2 bg-white border border-[#d9d1fa] rounded-lg shadow-[inset_0_1px_2px_rgba(0,0,0,0.05)] focus:outline-none focus:ring-2 focus:ring-[#cfc3f9] transition-all duration-150" }}
            {% if field.errors %}
                <p class="text-red-500 text-sm mt-1">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <div class="flex space-x-4">
        <button type="submit"
            class="btn-ballon">
            Valider
        </button>

    <a href="{% url 'gestion_compte' %}"
        class="btn-ballon">
        Annuler
    </a>

    </div>
</form>

{% endblock %}
