{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}

<!-- Titre -->
<h2 class="auth-title">Changer le mot de passe</h2>

<!-- Formulaire -->
<form method="post" class="form-container">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
            </label>
            {{ field|add_class:"form-field" }}
            {% if field.errors %}
                <p class="form-error">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <div class="button-group">
        <button type="submit" class="btn-ballon">
            Valider
        </button>

        <a href="{% url 'account_management' %}" class="btn-ballon">
            Annuler
        </a>
    </div>
</form>

{% endblock %}