{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Supprimer le compte{% endblock %}

{% block content %}

<!-- Titre -->
<h2 class="text-3xl font-normal mb-4 text-center text-black">Supprimer le compte</h2>

<!-- Message d’alerte -->
<p class="mb-2 text-center text-gray-700 whitespace-nowrap">
    Êtes-vous sûr·e de vouloir supprimer votre compte&nbsp;?
</p>
<p class="mb-6 text-center text-gray-700">
    Cette action est irréversible.
</p>

<!-- Formulaire -->
<form method="post" class="space-y-4">
    {% csrf_token %}
    
    <div class="flex space-x-4 justify-center">
        <button type="submit"
        class="btn-ballon">
        Supprimer
    </button>

    <a href="{% url 'account_management' %}"
        class="btn-ballon">
        Annuler
    </a>
    </div>
</form>

{% endblock %}
