{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Inscription{% endblock %}

{% block content %}

<!-- Titre -->
<h2 class="auth-title">Inscription</h2>

<!-- Formulaire -->
<form method="post" class="form-container">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
            </label>
            {{ field|add_class:"form-field" }}
            {% if field.errors %}
                <p class="form-error">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Bouton -->
    <button type="submit" class="btn-ballon">
        S'inscrire
    </button>
</form>

<!-- Lien connexion -->
<p class="auth-link">
    Déjà inscrit ?
    <a href="{% url 'login' %}">Se connecter</a>
</p>

{% endblock %}